@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "leaflet/dist/leaflet.css";

body {
  font-family: "Poppins", sans-serif;
}

/* globals.css */
.perspective {
  perspective: 1000px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.animate-spin-slow {
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* styles/globals.css */

.pseudo-partial-border {
  position: relative;
}

.pseudo-partial-border::before,
.pseudo-partial-border::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}

.pseudo-partial-border::before {
  top: 0;
  left: 0;
  border-top: 2px solid #00999e;
  border-left: 2px solid #00999e;
}

.pseudo-partial-border::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #00999e;
  border-right: 2px solid #00999e;
}

.pseudo-partial-border:hover::before {
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.pseudo-partial-border:hover::after {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transform-style: preserve-3d;
  position: relative;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
